body{
  background-color: rgb(161, 46, 224);
  background-image: url("https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  padding: 0;
  overflow: unset ;

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}